{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AI Assistant Chat with Biomarkers</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
       <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        {% block head %}{% endblock %}
    </body>
</html>